.bookDetail{
  .bookTextInfo{
    background: #f1f1f1;
    padding: 30px;
    .margin_top{
      margin-top: 30px;
    }
  }
}
.imgWrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #00AEE4
}
