.borrowName{
  padding: 10px 30px;
  .heightLight{
    color: #a72dab;
  }
  .free{
    color: #1dab35;
  }
}
.flexBlock{
  display: flex;
  justify-content: space-between;
  align-items: center;
  .pullIcon{
    width: 18px;
    height: 18px;
    border-top: 4px solid #999;
    border-right: 4px solid #999;
    transform: rotateZ(45deg);
  }
  .pullDownState{
    animation: 0.2s ease-out forwards pullDown;
  }
  .pullUpState{
    animation: 0.2s ease-out forwards pullUp;
  }
}
.detailInfo{
  padding: 0 30px;
  .border{
    border-radius: 8px;
    border: 2px solid #f1f1f1;
    padding: 20px;
    margin-bottom: 20px;
  }
  .item{
    display: flex;
    align-items: center;
    .cell{
      height: 80px;
      flex: 1;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      .header{
        width: 60px;
        height: 60px;
      }
    }
  }
}

@keyframes pullDown {
  0% {
    transform: rotateZ(45deg);
  }
  100% {
    transform: rotateZ(135deg);
  }
}

@keyframes pullUp {
  0% {
    transform: rotateZ(135deg);
  }
  100% {
    transform: rotateZ(45deg);
  }
}
